---
import Layout, { type Props as LayoutProps } from "../../layouts/layout.astro";
import Container from "../../components/page-container.astro";
import Sectionhead from "../../components/section-head.astro";
import Images from "./images.astro";
import { getGroups } from "../../services/group.service";
import GroupItem from "../../components/elements/group-item.astro";

const groups = await getGroups();
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const resolvedImageWithDomain = new URL(
	"/og.jpg",
	Astro.site,
).toString();

const seo: LayoutProps['seo'] = {
  openGraph: {
    basic: {
      image: resolvedImageWithDomain,
      title: 'Pocket Barcelona - Community',
      type: 'website',
      url: canonicalURL,
    },
  },
}
---

<Layout title={"Barcelona English Speakers Community"} seo={seo}>
  <main>
    <Container class:list={"!max-w-5xl"}>
      <Sectionhead>
        <Fragment slot="title">Barcelona English Speakers</Fragment>
        <Fragment slot="desc">
          <strong>Barcelona English Speakers</strong> is a thriving WhatsApp community
          group run by English-speaking people living in Barcelona.
        </Fragment>
      </Sectionhead>
      <div class="my-8 md:my-16 lg:my-32">
        <div class="my-4 lg:my-8 mx-auto max-w-6xl rounded-lg">
          <h2
              class="text-2xl md:text-4xl tracking-tight text-center my-4 !max-w-none"
          >
            About the community
          </h2>

          <p class="my-6">
            The group started in 2020 to offer tips, support, personal
            experiences and general help to other English-speaking people who
            have just moved to Barcelona. Since the summer of 2023, the group
            has welcomed over 500 members, and counting!
          </p>

          <p class="my-6">
            As well as sharing information in the WhatsApp group, we host
            monthly meetups that attract around 50 people. We also have an
            active meetup sub-channel in the group where members can propose
            other events, such as language exchanges, hikes or just getting
            together for a beer.
          </p>

          <p class="my-6">
            Since the start of 2023, the core admin group has attracted
            collaboration from other foreigners living and working in Barcelona,
            of which there are about 10 seasoned experts. Together, we share
            thousands of hours of experience.
          </p>

          <p class="my-6">
            We love to share this knowledge with the wider group and each other,
            so we author a growing number of up-to-date blog posts, guides and
            articles to help newcomers (and old-timers) navigate their way
            through life in Barcelona. Checkout our <a href="/blog">Blog</a>.
          </p>
        </div>
      </div>
    </Container>

    <Container class="!justify-center !max-w-5xl">
      <h2 class="text-3xl md:text-5xl text-center my-8 lg:my-16 !max-w-none">
        Join the community
      </h2>

      <div class="max-w-xl mx-auto my-0">
        <ul class="grid gap-4 lg:gap-16">
          {
            groups.map((group, index) =>
                <GroupItem group={group} index={index}/>)
          }
        </ul>
      </div>
    </Container>

    <Container class:list={"!max-w-5xl"}>
      <Images/>
    </Container>
  </main>
</Layout>
