---
import Layout from "../../layouts/layout.astro";
import Container from "../../components/page-container.astro";
import Sectionhead from "../../components/section-head.astro";
import PostItem from '../../components/elements/post-item.astro';
import { getMergedPosts } from '../../services/post.service';
import PostList from '../../components/elements/post-list.astro';
// Images: https://docs.astro.build/en/guides/images/#images-in-content-collections
// Using getImage() https://youtu.be/VsZ6feIU_bA?si=nyV2t1GsGbdaQh4t&t=760
const posts = await getMergedPosts();

---

<Layout title={"Expert Articles"}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Articles by locals</Fragment>
      <Fragment slot="desc">
        All articles written by <strong>local residents</strong>, who have lived
        in Barcelona for years.
      </Fragment>
    </Sectionhead>

    <main class="mt-12 lg:mt-16">
      <div class="max-w-5xl mx-auto">
        <PostList>
          {
            posts.map((post, index) => <PostItem post={post} index={index} />)
          }  
        </PostList>
      </div>
    </main>
  </Container>
</Layout>
