---
import Layout, { type Props as LayoutProps } from "../../layouts/layout.astro";
import Container from "../../components/page-container.astro";
import Sectionhead from "../../components/section-head.astro";
import PostItem from '../../components/elements/post-item.astro';
import { getMergedPosts } from '../../services/post.service';
import PostList from '../../components/elements/post-list.astro';
// Images: https://docs.astro.build/en/guides/images/#images-in-content-collections
// Using getImage() https://youtu.be/VsZ6feIU_bA?si=nyV2t1GsGbdaQh4t&t=760
const posts = await getMergedPosts();

const resolvedImageWithDomain = new URL(
	"/og.jpg",
	Astro.site,
).toString();
const seo: LayoutProps['seo'] = {
  openGraph: {
    basic: {
      image: resolvedImageWithDomain,
      title: 'Pocket Barcelona - Blog',
      type: 'website',
      url: new URL("/blog", Astro.site).toString(),
    },
  },
}

---
<Layout title={"Expert Articles"} seo={seo}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Articles by locals</Fragment>
      <Fragment slot="desc">
        All articles written by <strong>local residents</strong>, who have lived
        in Barcelona for years.
      </Fragment>
    </Sectionhead>

    <div class="max-w-10xl mx-auto xl:mt-12">
      <PostList>
        {
          posts.map((post, index) => <PostItem post={post} index={index} />)
        }  
      </PostList>
    </div>
  </Container>
</Layout>
