/* Unscoped, delivered as-is to the browser. */
a {
  word-break: break-word;
}
a.autolink-header {
  display: inline-block;
  margin-left: 8px;
}
a.autolink-header svg {
  display: none;
}
.help {
  text-decoration: underline;
  cursor: help;
}
h1:hover a.autolink-header svg,
h2:hover a.autolink-header svg,
h3:hover a.autolink-header svg,
h4:hover a.autolink-header svg,
h5:hover a.autolink-header svg,
h6:hover a.autolink-header svg {
  display: block;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* style TOC */
@media screen and (max-width: 1023px) {
  h2#contents + ul {
    background-color: #f6f6f6;
  }
}
h2#contents {
  margin-bottom: 0;
}
h2#contents + ul {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 0;
  border-radius: 0.375rem;
}
h2#contents + ul li a{
  margin-top: 0;
  margin-bottom: 0;
}
h2#contents + ul li {
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 1.25;
  padding-left: 0;
}
h2#contents + ul ul {
  margin-top: 4px;
  margin-bottom: 4px;
}
.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: #1212c4;
  font-weight: 600;
}

div.info,
div.success,
div.warning,
div.danger,
div.neutral {
  padding: 0.5rem 1rem;
  border-left: 5px solid;
  font-size: 0.9375rem;
}
@media screen and (max-width: 767px) {
  div.info,
  div.success,
  div.warning,
  div.danger,
  div.neutral {
    padding: 0.125rem 0.75rem;
    font-size: 0.875rem;
  }

}
div.success {
  background-color: rgba(0, 255, 0, 0.15);/* #00e100 */
  border-left-color: rgba(0, 255, 0, 0.25);
}
div.info {
  background-color: rgba(18, 18, 196, 0.1); /* #1212c4 */
  border-left-color: rgba(0, 0, 225, 0.25);
}
div.warning {
  background-color: rgba(225, 225, 0, 0.1);/* #e1e100 */
  border-left-color: rgba(225, 225, 0, 0.25);
}
div.danger {
  background-color: rgba(155, 0, 0, 0.2);/* #9b0000 */
  border-left-color: rgba(155, 0, 0, 0.3);
}
div.neutral {
  background-color: rgba(120, 120, 120, 0.08);/* #787878 */
  border-left-color: rgba(120, 120, 120, 0.25);
}
img {
  border-radius: 0.375rem;
}

/* Style the TOC */
div.contents {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 225, 0, 0.1);/* #00e100 */
  border: 1px solid rgba(0, 225, 0, 0.25);
}
span.highlight {
  /* background-color: #1212c4; */
}
a.warning {
  color: rgb(155, 0, 0);
}
a.strikethru {
  text-decoration: line-through;
}