---
import { readItems } from "@directus/sdk";
import Container from "../components/page-container.astro";
import Layout from "../layouts/layout.astro";
import directus from "../lib/directus";

export async function getStaticPaths() {
	const pages = await directus.request(readItems("pages"));
	return pages.map((page) => ({
		params: { slug: page.slug },
		props: page,
	}));
}
const page = Astro.props;
---

<Layout title={page.title}>
  <Container>
    <div class="max-w-5xl mx-auto">
      <div class="prose prose-lg my-12">
        <h1>{page.title}</h1>
        <div set:html={page.content} />
      </div>
    </div>
  </Container>
</Layout>
