---
import Link from "./elements/link.astro";
import bcnImage from "../assets/bcn-splash.jpg";
import { Picture } from "astro:assets";
// Picture tag sizes: https://webdesign.tutsplus.com/quick-tip-how-to-use-html5-picture-for-responsive-images--cms-21015t#toc-kl8w-using-sizes-to-control-image-layout
---

<div
  class="relative overflow-hidden flex items-center justify-center px-[20px]"
>
  <div class="absolute inset-0 w-full h-fit z-0">
    <Picture
      src={bcnImage}
      format="avif"
      widths={[400, 1200]}
      alt="Barcelona view"
      quality={'mid'}
    />
  </div>
  <div class="z-[1] grid lg:grid-cols-2 md:place-items-center py-6 md:py-[15vw] max-h-[92vh] md:min-h-[80vh]">
    <div class="py-6 md:order-1 hidden md:block">
      <!-- <Picture
        src={heroImage}
        alt="Astronaut in the air"
        widths={[200, 400, 600]}
        aspectRatio="4:3"
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
      /> -->
    </div>
    <div>
      <h1
        class="text-4xl md:text-5xl lg:text-7xl xl:text-8xl font-semibold lg:tracking-tight xl:tracking-tighter text-white"
      >
        Pocket <span class="text-[#F6FB0F]">Barcelona</span><br /><span
          class="font-normal text-2xl md:text-3xl lg:text-4xl tracking-normal !leading-none"
          >Powered by local experts</span
        >
      </h1>

      <!-- <p class="text-lg mt-4 text-slate-600 max-w-xl">
        Experience <strong>Barcelona</strong> like a local!<wbr /> Checkout our blog, featuring articles written by the experts.
      </p> -->

      <div class="mt-4 md:mt-24 md:flex flex-col sm:flex-row gap-3">
        <Link
          size="lg"
          style="outline"
          href="/blog"
          class="flex gap-1 items-center justify-center"
        >
          <!-- <Icon class="text-black w-4 h-4" name="bx:bxl-github" /> -->
          View our blog
        </Link>
        <Link
          href="/community"
          class="flex gap-1 items-center justify-center"
        >
          <!-- <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" /> -->

          Join the community
        </Link>
      </div>
    </div>
  </div>
</div>
