---
import Container from './page-container.astro';
---

<footer class="py-16 mt-8 lg:mt-16 bg-[#191919]">
  <Container>

    <div class="flex flex-col lg:flex-row items-center justify-start gap-4">
      <div class="grow-0 text-white"><span class="font-medium text-white">Pocket</span>{' '}<span class="text-[#FAFF13]">Barcelona</span></div>
      <div class="grow flex justify-center items-center">
        <p class="text-center text-sm text-white">
          Made in Barcelona&nbsp;&nbsp;❤️&nbsp;&nbsp;Copyright © {new Date().getFullYear()}.<br />All rights reserved.
        </p>
      </div>
    </div>
    

  </Container>
</footer>
