---
import { type CollectionEntry, render } from 'astro:content';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const { Content } = await render(post);

// Content coming from the headless CMS is just rendered markup
// Content from Astro/MDX needs rendering
// biome-ignore lint/suspicious/noExplicitAny: Can improve type
let Rendered: any = null;
// biome-ignore lint/suspicious/noExplicitAny: Can improve type
if ((post as any).filePath !== undefined) {
  Rendered = Content;
}
---

<div class="
  mx-auto mt-4 lg:mt-8 max-w-4xl
  prose prose-md lg:prose-lg
  prose-li:my-2 prose-li:leading-snug prose-ul:my-4
  prose-p:leading-6 sm:prose-p:leading-7
  prose-hr:my-6 sm:prose-hr:my-12 prose-hr:border-gray-300
  prose-img:my-0
  prose-headings:mt-9 prose-headings:mb-2
">
{
  Rendered ? <Rendered /> : (
    <div set:html={post.body} />
  )
}
</div>