<div class="mt-6 lg:mt-12 flex justify-between mx-auto max-w-3xl">
  <a
    href="/blog"
    class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
    >← Back to Blog</a
  >
  <a
    href="#"
    class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
    >&uarr; Go to top</a
  >
</div>