---
import { Image } from 'astro:assets';

interface Props {
  images: {
    url: string;
    alt: string;
  }[];
  class?: string;
  minCols?: 2 | 3;
  maxCols?: 2 | 3 | 4;
  [x: string]: any;
}
const { images: galleryImages, class: className, minCols = 2, maxCols = 4, ...rest } = Astro.props;

// Dynamically import images - https://docs.astro.build/en/recipes/dynamically-importing-images/
const images = import.meta.glob('/src/assets/**/*.{jpeg,jpg,png,gif}')

// https://tailwindflex.com/@anonymous/image-gallery
const xData = `{
    imageGalleryOpened: false,
    imageGalleryActiveUrl: null,
    imageGalleryActiveCaption: null,
    imageGalleryImageIndex: null,
    imageGalleryOpen(event) {
        this.imageGalleryImageIndex = event.target.dataset.index;
        this.imageGalleryActiveUrl = event.target.src;
        this.imageGalleryActiveCaption = event.target.alt ?? '';
        this.imageGalleryOpened = true;
    },
    imageGalleryClose() {
        this.imageGalleryOpened = false;
        setTimeout(() => { this.imageGalleryActiveUrl = null; this.imageGalleryActiveCaption = null; }, 300);
    },
    imageGalleryNext() {
        if(this.imageGalleryImageIndex == this.$refs.gallery.childElementCount){
            this.imageGalleryImageIndex = 1;
        } else {
            this.imageGalleryImageIndex = parseInt(this.imageGalleryImageIndex) + 1;
        }
        this.imageGalleryActiveUrl = this.$refs.gallery.querySelector('[data-index="' + this.imageGalleryImageIndex + '"]')?.src;
        this.imageGalleryActiveCaption = this.$refs.gallery.querySelector('[data-index="' + this.imageGalleryImageIndex + '"]')?.alt;
    },
    imageGalleryPrev() {
        if(this.imageGalleryImageIndex == 1){
            this.imageGalleryImageIndex = this.$refs.gallery.childElementCount;
        } else {
            this.imageGalleryImageIndex = parseInt(this.imageGalleryImageIndex) - 1;
        }
        this.imageGalleryActiveUrl = this.$refs.gallery.querySelector('[data-index="' + this.imageGalleryImageIndex + '"]')?.src;
        this.imageGalleryActiveCaption = this.$refs.gallery.querySelector('[data-index="' + this.imageGalleryImageIndex + '"]')?.alt;
    },
  }`
---
<style is:inline>
  /* @tailwind base;
  @tailwind components;
  @tailwind utilities; */

  [x-cloak] { display: none; }

  :root {
    --c-bg: snow;
    --c-scrollbar: lightsteelblue;
    --c-scrollbar-hover: #000;
  }
  /* html {
    background-color: var(--c-bg);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  html.dark {
    --c-bg: #050505;
    --c-scrollbar: #111;
    --c-scrollbar-hover: #222;
  } */

  /* body {
    height: 100%;
    overflow-y: scroll;
  }

  ::selection {
    background: #8884;
  } */
  * {
    scrollbar-color: var(--c-scrollbar) var(--c-bg);
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 6px;
  }
  ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: var(--c-bg);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--c-scrollbar);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--c-scrollbar-hover);
  }
  .custom-gallery {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .custom-gallery li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .custom-gallery img {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
  }
</style>
<div
  x-data={xData}
  @image-gallery-next.window="imageGalleryNext()"
  @image-gallery-prev.window="imageGalleryPrev()"
  @keyup.right.window="imageGalleryNext();"
  @keyup.left.window="imageGalleryPrev();"
  x-init="imageGalleryPhotos = $refs.gallery.querySelectorAll('img');for(let i=0; i<imageGalleryPhotos.length; i++){imageGalleryPhotos[i].setAttribute('data-index', i+1);}"
  class="w-full h-full select-none my-6"
>
  <div
    class="max-w-6xl mx-auto duration-1000 delay-300 opacity-0 select-none ease animate-fade-in-view"
    style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"
  >
    <ul
      x-ref="gallery"
      class:list={[
        'custom-gallery grid gap-4',
        minCols === 2 ? 'grid-cols-2' : 'grid-cols-3',
        maxCols === 3 ? 'md:grid-cols-3' : null,
        maxCols === 4 ? 'lg:grid-cols-4' : null
      ]}
    >
      {
        galleryImages.map((image, _key) => {
          return (
            <li>
              <Image
                src={images[image.url]()}
                alt={image.alt || ''}
                x-on:click="imageGalleryOpen"
                class="object-cover select-none w-full h-auto bg-gray-200 rounded cursor-zoom-in aspect-[4/3]"
              />
            </li>
          )
        })
      }
      
    </ul>
  </div>
  <template x-teleport="body">
    <div
      x-show="imageGalleryOpened"
      x-transition:enter="transition ease-in-out duration-300"
      x-transition:enter-start="opacity-0"
      x-transition:leave="transition ease-in-in duration-300"
      x-transition:leave-end="opacity-0"
      @click="imageGalleryClose"
      @keydown.window.escape="imageGalleryClose"
      x-trap.inert.noscroll="imageGalleryOpened"
      class="fixed inset-0 z-[99] flex items-center justify-center bg-black bg-opacity-50 select-none cursor-zoom-out"
      x-cloak
    >
      <div
        class="relative flex items-center justify-center w-11/12 xl:w-4/5 h-11/12"
      >
        <div
          @click="$event.stopPropagation(); $dispatch('image-gallery-prev')"
          class="absolute z-10 left-0 flex items-center justify-center text-white translate-x-8 rounded-full cursor-pointer xl:-translate-x-24 2xl:-translate-x-32 bg-white/20 w-14 h-14 hover:bg-white/30"
        >
          <svg
            class="w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5L8.25 12l7.5-7.5"></path>
          </svg>
        </div>
        <img
          x-show="imageGalleryOpened"
          x-transition:enter="transition ease-in-out duration-300"
          x-transition:enter-start="opacity-0 transform scale-50"
          x-transition:leave="transition ease-in-in duration-300"
          x-transition:leave-end="opacity-0 transform scale-50"
          class="object-contain object-center w-full h-full max-h-[100vh] select-none cursor-zoom-out"
          :src="imageGalleryActiveUrl"
          :alt="imageGalleryActiveCaption"
          style="display: none;"
        />
        <div class="absolute bottom-2 bg-[#000000cc] inline-block text-center rounded px-4 py-1 md:px-8 md:py-2 text-white shadow font-light text-xs md:text-base" x-text="imageGalleryActiveCaption"></div>
        <div
          @click="$event.stopPropagation(); $dispatch('image-gallery-next');"
          class="absolute z-10 right-0 flex items-center justify-center text-white -translate-x-8 rounded-full cursor-pointer xl:translate-x-24 2xl:translate-x-32 bg-white/20 w-14 h-14 hover:bg-white/30"
        >
          <svg
            class="w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
          </svg>
        </div>
      </div>
    </div>
  </template>
</div>
