---
import { Image } from "astro:assets";

interface Props {
  images: {
    src: any;
    alt: string;
  }[];
  class?: string;
}
const { images, class: className, ...rest } = Astro.props;
---

<div
  class:list={[
    "grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5",
    className,
  ]}
>
  {
    images.map((item) => {
      return (
        <div class="aspect-square rounded-md bg-red-400">
          <Image
            src={item.src}
            alt={item.alt || ""}
            class="object-cover select-none w-full h-auto cursor-zoom-in aspect-[4/4]"
            loading="lazy"
          />
        </div>
      );
    })
  }
</div>
