---
import { SEO } from "astro-seo";
import Footer from "../components/page-footer.astro";
import Navbar from "../components/nav-bar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Barcelona Expats"
  : "Barcelona Expats - Experience Barcelona like a local";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <ImageSupportDetection /> -->

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Pocket Barcelona - a website run by Barcelona based expats."
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Pocket Barcelona - a website run by Barcelona based expats`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Barcelona Expats",
        },
      }}
    />
  </head>
  <body class="pt-[60px] lg:pt-[72px]">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
../components/nav-bar/navbar.astro